@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.history__header h1,
.history__header p,
.pastLaunches__header h1,
.pastLaunches__header p,
.vehicles__header h1,
.vehicles__header p {
  color: #f6f6f6;
  text-shadow: 0px 1px 8px rgba(108, 108, 108, 0.8);
  text-align: center;
}

.history__header h1,
.pastLaunches__header h1,
.vehicles__header h1 {
  margin-top: 20vh;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 3px;
}

.pastLaunches__header p,
.history__header p,
.vehicles__header p {
  margin-top: 2vh;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* ############################################
--- <<<     Navbar     >>> ---
---############################################ */

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  top: 0;
}

.nav__logo img {
 width: 150px;
 margin-left: 5vw;
}

.nav__links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav__links li {
  list-style: none;
}

.nav__links a {
  margin: 10px 10px;
  color: #f6f6f6;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 16px;
}

.nav__links a:hover {
  border-bottom: #f6f6f6 solid 2px;
  padding-bottom: 4px;
}

.nav__links--active a {
  font-weight: 500;
  border-bottom: #f6f6f6 solid 2px;
  padding-bottom: 4px;
}

.nav__burger {
  display: none;
  cursor: pointer;
}

.nav__burger div {
  width: 25px;
  height: 3px;
  background-color: #f6f6f6;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav--hide {
  display: none;
}

@media screen and (max-width: 990px) {
  body {
    overflow-x: hidden;
  }

  .nav__logo {
    width: 70%;
  }

  .nav__links {
    width: 35%;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav__links li {
    margin-top: 8vh;
    opacity: 0;
  }

  .nav__homeLink {
    margin-top: 12vh !important;
  }

  .nav__burger {
    display: block;
    margin-right: 4vw;
  }

  .nav--active {
    transform: translateX(0%);
  }
  .prevent--scrolling {
    height: 100%;
    overflow: hidden;
  }

  @keyframes nav--linksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .nav--burgerToggle .nav__burgerLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav--burgerToggle .nav__burgerLine2 {
    opacity: 0;
  }
  .nav--burgerToggle .nav__burgerLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  nav {
    min-height: 8vh;
  }
  .nav__logo img {
    width: 120px;
   }
  .nav__links {
    width: 50%;  
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  nav {
    min-height: 8vh;
  }
  .nav__logo img {
    width: 120px;
   }
  .nav__links {
    width: 60%;  
  }

}

/* ############################################
--- <<<     Scroll to top button     >>> ---
---############################################ */
.nav__scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 8vh;
  right: 3vw;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #393e46;
  color: #f6f6f6;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  opacity: 0.6;
  transition: transform 100ms ease-in;
}

.nav__scrollToTopButton:active {
  background-color: #555;
  transform: scale(1.02);
}

/* ############################################
--- <<<     Arrow down     >>> ---
---############################################ */
.arrow-down {
  position: absolute;
  bottom: 10vh;
  right: 3vw;
  animation: arrow-down 2s infinite 0s linear;
}
.arrow-down img {
  width: 25px;
  opacity: 0.9;
}

.arrow-hide {
 visibility: hidden;
}

@keyframes arrow-down{
0% {
    transform: rotate(xx) scale(1.6);
    transform-origin: 20% 20%;
    height: 100px;
  }
50% {
    transform: rotate(xx) scale(1.6);
    transform-origin: 20% 20%;
    height: 70px;
  }
100% {
    transform: rotate(xx) scale(1.6);
    transform-origin: 20% 20%;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .arrow-down img {
    display: none;
  }
}

/* ############################################
--- <<<     Loading png     >>> ---
---############################################ */
.loader {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100px;
  height: 100px;
}

.loader .square {
  width: 20px;
  height: 20px;
  background-color: #f6f6f6;
  animation: loader 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}
.loader .square:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}
.loader .square:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}
.loader .square:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes loader {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

/* ############################################
--- <<<     Errorhandler     >>> ---
---############################################ */

.errorMessageContainer {
  padding: 3rem;
  font-size: 22px;
  color: #F53B3B;
  background: #f6f6f6;
  margin: 0 auto;
}
