.history__header {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/background/spacex-boarding-bridge-large.jpg");
  /* Image by Official SpaceX Photos on Flickr.com - URL "https://www.flickr.com/photos/spacex/39684491043/" */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.history__header h1,
.history__header p {
  color: #f6f6f6;
  text-shadow: 0px 1px 8px rgba(108, 108, 108, 0.8);
  text-align: center;
}
.history__header h1 {
  margin-top: 20vh;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 3px;
}
.history__header p {
  margin-top: 2vh;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.history__main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.history__container {
  width: 80%;
  min-height: 100vh;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
}

.history__card:nth-child(even) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.history__card {
  width: 100%;
}

.history__cardText {
  width: 50%;
}

@media (min-width: 481px) and (max-width: 767px) {
  .history__header {
   background-image: url('/assets/background/spacex-boarding-bridge-small.jpg');
    background-position: center top;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .history__header {
    background-image: url('/assets/background/spacex-boarding-bridge-small.jpg');
    background-position: center top;
   }
}
