.history__header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/background/starship-large.jpg");
  /* Image by Official SpaceX Photos on Flickr.com - URL "https://www.flickr.com/photos/spacex/48953946911/" */
  background-position: center;
  display: flex;
  flex-direction: column;
}

.history__main {
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.history__container {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.history__card {
  width: 80%;
  padding: 2rem;
  display: block;
  justify-content: center;
  align-self: center;
  transition: transform 400ms ease-in;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.history__card:hover {
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  transform: scaleX(1.02);
}

.history__cardTextContainer {
  width: 100%;
  padding: 2vh 0vw 2vh 0vw;
  margin-bottom: 10vh;
  color: #55595c;
  letter-spacing: 1.4px;
}


.history__cardTextContainer h2 {
  font-size: 1.7rem;
  font-weight: 700;
}
.history__cardTextContainer .history__date {
  font-size: 12px;
  font-weight: 300;
  opacity: 60%;
}
.history__description {
  font-weight: 300;
  padding: 1rem 0 3rem 0;
}
.history__link {
  width: 100%;
}
.history__link a {
  padding: 1em 6vw;
  color: #55595c;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,.5);
  letter-spacing: 3px;
}
.history__link a:hover {
  color: white;
  background-color: #000;
  border: 2px solid #000;
}
.history__link a:active {
  background-color: #393e46;
}

.history__card:first-child {
  margin-top: 10vh;
}
.history__card:last-child {
  margin-bottom: 10vh;
} 

@media (min-width: 1281px) {
  .history__card {
    width: 70%;
    max-width: 900px;
  }
}

@media screen and (max-width: 1024px)  {
  .history__container {
    width: 100%;
  }
  .history__link a {
    padding: 1em 10vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .history__card {
    width: 90%;
  }
  .history__link a {
    padding: 1em 13vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
   .history__header h1 {
    font-size: 3rem;
  }
  .history__header p {
    padding: 0 7px 0 7px;
  }
   .history__card {
    width: 90%;
    padding: 1rem;
   }
   .history__link a {
    padding: 1em 16vw;
  }
}
