
body {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/background/space-background-large.jpg');
  /* Image by Ashwini Chaudhary on Unsplash.com - URL "https://unsplash.com/photos/czPD6s3JQmk" */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.pastLaunchesDetails__main {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

.pastLaunchesDetails__container {
  width: 70%;
}
.pastLaunchesDetails__results {
  color: #55595c;
}

.pastLaunchesDetails__contentContainer {
  padding-bottom: 10vh;
  background-color: #fff;
  box-shadow: 2px -1px 54px 7px rgba(235,226,226,0.37);
  -webkit-box-shadow: 2px -1px 54px 7px rgba(235,226,226,0.37);
  -moz-box-shadow: 2px -1px 54px 7px rgba(235,226,226,0.37);
}

.pastLaunchesDetails__results h1 {
  margin-bottom: 1rem;
  color: #f6f6f6;
  letter-spacing: 2px;
  font-weight: 400;
  letter-spacing: 3px;
}

.pastLaunchesDetails__imageContainer img {
  width: 100%;
  height: auto;
}

.pastLaunchesDetails__TextContentContainer {
  margin: 0 15px 20px 30px;
  padding: 4vh 5vw 0 5vw;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.pastLaunchesDetails__imageText {
  font-size: small;
  opacity: 50%;
  font-weight: 300;
  margin: -3px 0px 0px 20px;
}

.pastLaunchesDetails__date {
  font-size: 12px;
  font-weight: 300;
  opacity: 60%;
  margin-bottom: 15px;
}
.pastLaunchesDetails__TextContentContainer b {
  letter-spacing: 0.5px;
}
.pastLaunchesDetails__detailsDescription {
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}


.pastLaunchesDetails__successMessage, 
.pastLaunchesDetails__failedMessage {
  font-weight: 500;
  letter-spacing: 1px;
}
.pastLaunchesDetails__successMessage {
  color: #3BF56F;
}
.pastLaunchesDetails__failedMessage {
  color: #F53B3B;
}

.pastLaunchesDetails__TextContentContainer h3 {
  margin: 6rem 0 1rem 0;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
}

/* ----- Payload details ----- */

.pastLauchesDetails__payloads h4 {
  padding-top: 40px;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.pastLaunchDetails__payload {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  transition: transform 400ms ease-in;
}
.pastLaunchDetails__payload:hover {
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.25);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.25);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.25);
  transform: scaleX(1.02);
}


/* ----- Links ---- */
.pastLaunchesDetails__links {
  margin: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
}
.pastLaunchesDetails__links a {
  padding: 1em 6vw;
  margin: 0 1rem 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #55595c;
  border: 1px solid rgba(0,0,0,.5);
  letter-spacing: 3px;
  font-weight: 400;
}
.pastLaunchesDetails__links a:hover {
  color: white;
  background-color: #000;
  border: 2px solid #000;
}
.pastLaunchesDetails__links a:active {
  background-color: #393e46;
}

.pastLaunchesDetails__back {
  color: #55595c;
  letter-spacing: 2px;
}

@media (min-width: 1281px) {
  .pastLaunchesDetails__container {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .pastLaunchesDetails__container {
    width: 80%;
  }

  .pastLaunchDetails__payload {
    padding: 20px 5px 20px 5px;
  }
  .pastLaunchesDetails__links a {
    padding: 1em 5vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .pastLaunchesDetails__container {
    width: 100%;
  }
  .pastLaunchesDetails__results h1 {
    margin: 15px 10px 15px 10px;
    font-size: 24px;
}
  .pastLaunchesDetails__main {
    margin-top: 15vh;
  }
  .pastLaunchesDetails__TextContentContainer {
    margin: 30px 15px 20px 25px;
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pastLaunchesDetails__container {
    width: 100%;
  }
  .pastLaunchesDetails__results h1 {
    margin: 15px 10px 15px 10px;
    font-size: 24px;
}
  .pastLaunchesDetails__main {
    margin-top: 15vh;
  }
  .pastLaunchesDetails__TextContentContainer {
    margin: 30px 5px 20px 15px;
    padding: 0;
    font-size: smaller;
  }
  .pastLaunchesDetails__links {
    justify-content: space-evenly;
}
  .pastLaunchesDetails__links a {
    padding: 1em 6vw;
    margin: 0 2px 0 2px;
    letter-spacing: 2px;
  }
}