/* ############################################
--- <<<     Header     >>> ---
---############################################ */

.pastLaunches__header {
  background-image: url('../../assets/background/astronaut-onboard-large.jpg');
  /* Image by Official SpaceX Photos on Flickr.com - URL "https://www.flickr.com/photos/spacex/49971436642/" */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.pastLaunches__header h1,
.pastLaunches__header p {
  color: #f6f6f6;
  text-shadow: 0px 1px 8px rgba(108, 108, 108, 0.8);
  text-align: center;
}
.pastLaunches__header h1 {
  margin-top: 20vh;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 3px;
}
.pastLaunches__header p {
  margin-top: 2vh;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* ############################################
--- <<<     Past launch cards     >>> ---
---############################################ */

.pastLaunch__main {
  width: 100%;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  color: #55595c;
}
.pastLaunch__yearSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pastLaunch__yearSection h2 {
  font-weight: 500;
  position: absolute;
  margin-top: -3rem;
}

.pastLaunch__container {
  width: 100%;
  margin: 0 0 10vh 2.5vw;
  padding-top: 6vh;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-self: center;
  background-color: #fff;
}

.pastLaunch__card {
  margin: 0.8rem;
  padding: 2rem;
  width: 30vw;
  max-width: 500px;
  border: 2px solid rgba(0,0,0,.05);
  transition: transform 250ms ease-in;
}
.pastLaunch__card:hover {
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  transform: scale(1.02);
}

.pastLaunch__missionBadge {
  max-width: 50%;
  display: flex;
  margin: auto;
}
.pastLaunch__card b {
  letter-spacing: 0.5px;
}
.pastLaunch__missionName {
  padding-bottom: 20px;
  font-size: x-large;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}
.pastLaunch__card .pastLaunch__date {
  margin-top: 2rem;
  font-size: 12px;
  font-weight: 300;
  opacity: 60%;
}
.pastLaunch__card p {
  letter-spacing: 0.5px;
  font-weight: 300;
}

.pastLaunch__failedMessage,
.pastLaunch__successMessage {
  margin: 25px 0 25px 0;
  font-weight: 700;
  font-size: larger;
  letter-spacing: 2px;
  text-align: center;
}
.pastLaunch__failedMessage {
  color: #F53B3B;
}
.pastLaunch__successMessage {
  color: #3BF56F;
}

.button__moreDetails {
  display: flex;
  justify-content: center;
}
.button__moreDetails a {
  color: #55595c;
  padding: 1em 6vw;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,.5);
  letter-spacing: 3px;
}
.button__moreDetails a:hover {
  background-color: #000;
  color: white;
  border: none;
  border: 2px solid #000;
}
.button__moreDetails a:active {
  background-color: #393e46;
}

@media (min-width: 1281px) {
  .pastLaunch__container {
    width: 80%;
  }
  .pastLaunch__card {
    width: 24vw;
  }

  .button__moreDetails a {
    padding: 1em 4vw;
  }
}

@media screen and (max-width: 1024px) {

  .pastLaunch__container {
    width: 100%;
    margin-left: 1.5vw;
  }

  .pastLaunch__card {
    width: 29vw;
    padding: 1rem;
  }

  .button__moreDetails a {
    padding: 1em 4vw;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .pastLaunch__container {
    margin-left: 4vw;
  }
  .pastLaunch__card {
    width: 43vw;
  }
  .pastLaunch__card {
    margin: 0.7rem;
  }

  .button__moreDetails a {
    padding: 1em 6vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pastLaunch__container {
    margin-left: 0;
    justify-content: center;
  }
  .pastLaunches__header h1 {
    font-size: 3rem;
  }
  .pastLaunch__card {
    width: 70vw;
    min-width: 300px;
    margin: 1rem 5px 1rem 5px;
  }

  .button__moreDetails a {
    padding: 1em 15vw;
  }
}