
body {
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/space-star-large.jpg');
  /* Image by Jake Weirick on Unsplash.com URL "https://unsplash.com/photos/Q_RBVFFXR_g" */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.pastLaunchesDetails__main {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

.pastLaunchesDetails__container {
  width: 70%;
}
.pastLaunchesDetails__result {
  padding: 5vh 0 10vh 0;
  color: #55595c;
  background-color: #f0f0f0;
}

.pastLaunchesDetails__result h1 {
  margin-bottom: 5px;
}

.pastLaunchesDetails__result img {
  width: 100%;
  height: auto;
}

.pastLaunchesDetails__TextContentContainer {
  margin: 0 15px 20px 30px;
}

.pastLaunchesDetails__imageText {
  font-size: x-small;
  font-weight: 300;
  margin: -5px 0px 20px 25px;
}

.pastLaunchesDetails__detailsDescription {
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.pastLaunchesDetails__successMessage {
  color: #81b214;
  letter-spacing: 1px;
}
.pastLaunchesDetails__failedMessage {
  color: #dd2c00;
  letter-spacing: 1px;
}

.pastLaunchesDetails__subHeader {
  margin-top: 20px;
}

.pastLaunchesDetails__TextContentContainer li {
  margin: 5px 0px 5px 20px;
  list-style-type: square;
}

.pastLaunchesDetails__links {
  margin: 30px 0 20px 0;
}
.pastLaunchesDetails__links  a {
  text-decoration: none;
  margin: 15px;
  padding: 10px 45px 10px 45px;
  color: white;
  background-color: #43658b;
}

.error {
  padding: 3rem;
  font-size: 22px;
  color: red;
  margin: 0 auto;
}

.section1,
.section2,
.section3,
.section4 {
  width: 100%;
  height: 90vh;
}

.section1 {
  background-color: tomato;
}
.section2 {
  background-color: blue;
}
.section3 {
  background-color: lightblue;
}