.pastLaunches__header {
  background-image: url('/assets/spacex-launch-large-1.jpg');
  /* Image by SpaceX on stocksnap.io URL "https://stocksnap.io/photo/space-rocket-QLXO02GEWL" */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-shadow: 0px -200px 200px -60px #fff inset;
  -webkit-box-shadow: 0px -200px 200px -60px #fff inset;
  -moz-box-shadow: 0px -200px 200px -60px #fff inset;
}

.pastLaunches__header h1,
.pastLaunches__header p {
  color: #f6f6f6;
  text-shadow: 0px 1px 8px rgba(108, 108, 108, 0.8);
  text-align: center;
}
.pastLaunches__header h1 {
  margin-top: 120px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}
.pastLaunches__header p {
  margin-top: 2vh;
  font-weight: 400;
  letter-spacing: 1px;
}

/* ############################################
--- <<<     Past launch cards     >>> ---
---############################################ */

.pastLaunch__mainSection {
  width: 100%;
  margin-bottom: 35vh;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.pastLaunch__container {
  margin-top: -250px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pastLaunch__card {
  margin: 1rem 0 1rem 0;
  padding: 2rem;
  width: 30vw;
  color: #55595c;
  background-color: #f0f0f0;
  transition: transform 250ms ease-in;
}
.pastLaunch__card:hover {
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  transform: scale(1.02);
}

.pastLaunch__missionBadge {
  max-width: 50%;
  display: flex;
  margin: auto;
}
.pastLaunch__card b {
  letter-spacing: 0.5px;
}
.pastLaunch__missionName {
  padding: 30px 0 20px 0;
  font-size: x-large;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}
.pastLaunch__card p {
  letter-spacing: 0.5px;
}

.pastLaunch__failedMessage,
.pastLaunch__successMessage {
  margin: 25px 0 25px 0;
  font-weight: 700;
  font-size: larger;
  letter-spacing: 2px;
  text-align: center;
}
.pastLaunch__failedMessage {
  color: #F53B3B;
}
.pastLaunch__successMessage {
  color: #3BF56F;
}

.button__moreDetails {
  display: flex;
  justify-content: center;
}
.button__moreDetails a {
  color: #55595c;
  padding: 1em 7vw;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #55595c;
  letter-spacing: 3px;
}
.button__moreDetails a:hover {
  background-color: #000;
  color: white;
}
.button__moreDetails a:active {
  background-color: #393e46;
}

@media screen and (max-width: 1024px) {
  .pastLaunch__card {
    width: 45vw;
  }

  .button__moreDetails a {
    padding: 1em 13vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .pastLaunch__card {
    width: 320px;
    margin: 1rem 5px 1rem 5px;
  }

  .button__moreDetails a {
    padding: 1em 11vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pastLaunch__card {
    width: 88vw;
    margin: 1rem 5px 1rem 5px;
  }

  .button__moreDetails a {
    padding: 1em 20vw;
  }
}