@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}

.index__upcomingLaunchSection h2,
.index__videoLinksContainer h2 {
  margin-top: 6vh;
  padding: 5vh 0 4vh 0;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #55595c;
  text-transform: uppercase;
  text-align: center;
}


/* ############################################
--- <<<     Header & Countdown Timer     >>> ---
---############################################ */

.index__header {
  background-image: url("../../assets/background/spacex-launch-night-star-large.jpg");
  /* Image by Official SpaceX Photos on Flickr.com - URL "https://www.flickr.com/photos/spacex/46259778995/" */
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 1px 8px rgba(108, 108, 108, 0.8);
}

.index__nextLaunchBorder {
  border: 2px solid #fdfdfd;
  padding: 6vh 12vw;
}

.index__headerTextContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}
.index__headerTextContainer h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
.index__headerTextContainer p {
  margin-top: 2vh;
  padding: 0 10px 0 10px;
  text-align: center;
  letter-spacing: 1px;
}

.index__nextLaunchContainer,
.next_launch_container,
.countdown__results {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f6f6f6;
  letter-spacing: 1px;
}

.index__nextLaunchResults  h2 {
  font-size: 4em;
  font-weight: 400;
  padding: 10px;
  letter-spacing: 3px;
}

/* --- Countdown Container --- */
#countdown-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.countdown__results {
  min-width: 800px;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f6f6f6;
}
.index__icon {
  display: inline;
}
.index__icon img {
  width: 14px;
}
.index__icon.pin-icon img {
  width: 12px;
}
.countdown__window {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.countdown__numbers {
  font-size: 5em;
}
.countdown__TimeUnit {
  font-size: small;
  font-weight: 300;
}

#countdown-container h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #f6f6f6;
}
.countdown__LaunchedMessage {
  padding-top: 15px;
  text-transform: uppercase;
  color: #3BF56F !important;
}

@media (min-width: 481px) and (max-width: 767px) {
  .index__nextLaunchBorder {
    border: none;
  }
  .countdown__results {
    min-width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
 
  .index__headerTextContainer h1 {
    font-size: 2rem;
  }
  .index__headerTextContainer p {
    margin-top: 0;
    font-size: x-small;
  }
  .index__nextLaunchBorder {
    border: none;
    padding: 0;
  }

  .index__nextLaunchResults {
    margin: 0px 10px 0 10px;
  }
  .index__nextLaunchResults h2 {
    font-size: 3em;
    letter-spacing: 2px;
  }
  .index__nextLaunchResults {
    font-size: small;
  }
 
  .countdown__results {
    min-width: 400px;
    padding: 1rem 1rem;
  }
  .countdown__window {
    width: 60px;
  }
  .countdown__numbers {
    font-size: 3em;
  }
}

/* ############################################
--- <<<     Upcoming launches     >>> ---
---############################################ */

.index__upcomingLaunchSection {
  width: 100%;
  min-height: 120vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index__upcomingLaunchContainer {
  width: 80vw;
}

.index__upcomingLaunchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.index__upcomingLaunchImageContainer img {
  width: 100%;
  height: auto;
  padding-bottom: 3vh;
  filter: brightness(0.9);
}

.upcomingLaunch__table {
  width: 100%;
  padding: 40px 0 40px 10px;
  background-color: #393e46;
  color: #f6f6f6;
  letter-spacing: 2px;
}
.index__upcomingLaunchTable {
  border-collapse: collapse;
  color: #55595c;
}

.upcomingLaunch__dataResults td {
  font-weight: 300;
  letter-spacing: 0.5px;
}

tr.tablerow__borderBottom td {
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.upcomingLaunch__dataResults {
  transition: transform 400ms ease-in;
}
.upcomingLaunch__dataResults:hover {
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  transform: scaleX(1.02);
}
.upcomingLaunch__dataTable {
  width: 100vw;
  padding: 40px 0 40px 10px;
}

.upcomingLaunch__flightNumber {
  width: 200px;
}
.upcomingLaunch__mission {
  width: 200px;
  padding-right: 15px;
}
.upcomingLaunch__site {
  width: 500px;
  padding-right: 15px;
}
.upcomingLaunch__date {
  width: 200px;
}

.index__ApiLinkText {
  margin: 30px 10px 30px 10px;
  font-size: 12px;
  font-weight: 300;
  opacity: 60%;
  color: #55595c;
  letter-spacing: 2px;
  text-transform: initial;
  text-align: center;
}
.index__ApiLinkText a {
  font-weight: 400;
  text-decoration: none;
  color: #55595c;
}
.index__ApiLinkText a:hover {
  text-decoration: underline;
}

@media (min-width: 2400px) {
  .index__upcomingLaunchContainer {
    width: 60%;
  }
}
@media (min-width: 1281px) {

  
  .upcomingLaunch__flightNumber {
    width: 5vw;
    padding-left: 4vw;
  }
  .upcomingLaunch__mission {
    width: 20vw;
    padding-right: 0;
    padding-left: 10vw;
  }
  .upcomingLaunch__site {
    width: 40vw;
    padding-left: 8vw;
  }
  .upcomingLaunch__date {
    width: 20vw;
    padding-left: 8vw;
  } 
  
}

@media screen and (max-width: 990px) {

  .index__upcomingLaunchContainer {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .index__upcomingLaunchContainer {
    width: 95%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .index__upcomingLaunchContainer {
    width: 100%;
  }
}

/* ############################################
--- <<<     Goals and video links section     >>> ---
---############################################ */
.index__goalSection-1 {
  background-image: url('../../assets/background/spaceship-cruise-large.jpg');
  /* Image by SpaceX on StockSnap.io. URL "https://stocksnap.io/photo/space-spaceship-SQBE2C5NWT" */
}
.index__goalSection-2 {
  background: url('../../assets/background/engine-landing-on-deck-large.jpg');
  /* Image by Official SpaceX Photos on Flickr.com - URL "https://www.flickr.com/photos/spacex/50291306346/" */
}
.index__goalSection-1,
.index__goalSection-2 {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__goalSection-1 h3,
.index__goalSection-2 h3 {
  padding: 0 15vw 0 15vw;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #f6f6f6;
  text-shadow: 0px 1px 8px rgba(108, 108, 108, 0.8);
}

.index__videoLinksSection {
  width: 100%;
  margin-bottom: 10vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index__videoLinksContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.index__videoCardsRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.index__videoLinkCard {
  width: 35vw;
  max-width: 600px;
  margin: 1rem;
  padding: 1.2rem;
  color: #55595c;
  border: 2px solid rgba(0,0,0,.05);
  transition: transform 400ms ease-in;
}
.index__videoLinkCard:hover {
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.75);
  transform: scale(1.02);
}

.index__videoLinkCard img {
  width: 100%;
  height: auto;
  filter: brightness(0.9);
}

.index__videoLinkCard p {
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.index__videoLinkButton {
  display: flex;
  justify-content: center;
}
.index__videoLinkButton a {
  margin-top: 3rem;
  padding: 1em 6vw;
  text-decoration: none;
  text-transform: uppercase;
  color: #55595c;
  border: 1px solid rgba(0,0,0,.5);
  letter-spacing: 3px;
}
.index__videoLinkButton a:hover {
  background-color: #000;
  color: white;
  border: none;
  border: 2px solid #000;
}
.index__videoLinkButton a:active {
  background-color: #393e46;
}

.index__formVector {
  width: 100%;
  display: flex;
  justify-content: center;
}

.index__formVector img {
  width: 200px;
}

@media (min-width: 1281px) {
  .index__goalSection-1 h3,
  .index__goalSection-2 h3 {
    padding: 0 25vw 0 25vw;
  }
  .index__videoLinkCard {
    padding: 2rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 1024px) {
  .index__videoLinksContainer {
    width: 90%;
  }
  .index__videoLinkCard {
    width: 40vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .index__videoLinksContainer {
    width: 100%;
  }
  .index__videoLinkCard {
    width: 45vw;
    padding: 0.8rem;
    margin: 10px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .index__goalSection-1 h3,
  .index__goalSection-2 h3 {
    padding: 0 5vw 0 5vw;
  }

  .index__videoCardsRow {
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .index__videoLinkCard {
    width: 88vw;
    padding: 1rem;
    margin-bottom: 10px;
  }

  .index__videoLinkButton a {
    padding: 1em 18vw;
  }
  
}

/* ############################################
--- <<<     Form section     >>> ---
---############################################ */
.index__formSection {
  background-image: url('../../assets/background/space-background-large.jpg');
  /* Image by Ashwini Chaudhary on Unsplash.com - URL "https://unsplash.com/photos/czPD6s3JQmk" */
  background-position: center;
  width: 100%;
  min-height: 105vh;
}
.form__container {
  width: 50vw;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 12vh;
}
.form__textContainer {
  padding: 10px 0px 50px 0px;
}
.form__container h2,
.form__container p {
  color: #fff;
  text-align: center;
}
.form__container h2 {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 2px;
}
.form__container p {
  margin: 10px 5px 10px 5px;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
}

#contactForm {
  padding: 0 0.8rem 1rem 0.8rem;
  background-color: #fff;
  box-shadow: 2px -1px 54px 7px rgba(235,226,226,0.37);
  -webkit-box-shadow: 2px -1px 54px 7px rgba(235,226,226,0.37);
  -moz-box-shadow: 2px -1px 54px 7px rgba(235,226,226,0.37);
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  font-size: 18px;
  border: none;
  outline-width: 0;
  background-color: #f0f0f0;
  letter-spacing: 1px;
}

#contactForm textarea {
  resize: vertical; 
}

.form__submitButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

#contactForm button {
  border: none;
  width: 100%;
  padding: 1rem;
  background: #fff;
  color: #55595c;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid rgba(0,0,0,.5);
  letter-spacing: 3px;
  outline: 0;
}

#contactForm button:hover {
  border: 2px solid #000;
  background: #000;
  color: #fff;
}
#contactForm button:active {
  background-color: #393e46;
}

#contactForm .form-error {
  display: none;
  color: #F53B3B;
  font-size: 0.9rem;
  margin-top: 2px;
}

.form__container .passed-validation {
  display: none;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 10px 0px 10px 0px;
}

@media screen and (max-width: 990px) {
  .form__container {
    width: 75vw;
    max-width: 600px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .form__container {
    width: 80vw;
    max-width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .form__container {
    width: 90vw;
  }
}

/* ############################################
--- <<<     Loading and Errorhandling     >>> ---
---############################################ */
.error-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.errorMessageContainer {
  padding: 3rem;
  font-size: 22px;
  color: #F53B3B;
  background: #f6f6f6;
  margin: 0 auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-indicator {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 3em;
}
.loading-indicator div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f6f6f6;
  animation: loading-indicator 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-indicator div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-indicator div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-indicator div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-indicator {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}