/* ############################################
--- <<<     Header     >>> ---
---############################################ */

.vehicles__header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/background/engine-firing-off-2-large.jpg");
  /* Image by Official SpaceX Photos on Flickr.com - URL "https://www.flickr.com/photos/spacex/32040173928/" */
  background-position: center;
  display: flex;
  flex-direction: column;
  text-shadow: 0px 1px 8px rgba(108, 108, 108, 0.8);
}

/* ############################################
--- <<<     Vehicles     >>> ---
---############################################ */
.vehicles__main {
  width: 100%;
  display: flex;
  justify-content: center
}

.vehicles__rocketsContainer {
  width: 80%;
  margin: 10vh 0 10vh 0;
}

.vehicles__imageContainer {
  width: 100%;
}
.vehicle__card {
  padding: 5vh 25px 5vh 25px;
  color: #55595c;
  letter-spacing: 1.5px;
  font-weight: 300;
}
.vehicle__card h2 {
  margin: 1rem 0 1rem 0;
  font-size: 1.7rem;
  font-weight: 300;
}
.vehicles__imageContainer img {
  width: 100%;
  height: auto;
  filter: brightness(0.8);
}
.vehicles__description {
  margin: 1rem 0 2rem 0;
}

.vehicle__facts {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  transition: transform 400ms ease-in;
}
.vehicle__facts:hover {
  -webkit-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.25);
  -moz-box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.25);
  box-shadow: 0px 6px 23px 0px rgba(114, 114, 114, 0.25);
  transform: scaleX(1.02);
}

.vehicles__videoContainer {
  width: 100%;
  height: 70vh;
  margin-bottom: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.vehicles__videoContainer iframe {
  position: absolute;
  width: 65%;
  height: 80%;
}


@media (min-width: 1281px) {
  .vehicles__rocketsContainer {
    width: 55%;
  }
  .vehicles__videoContainer iframe {
    width: 60%;
    max-width: 978px;
    height: 86%;
    max-height: 768px;
  }
}

@media screen and (max-width: 1024px) {
  .vehicle__card {
    padding: 40px 25px 40px 25px;
  }
  .vehicles__videoContainer iframe {
    width: 75%;
    height: 80%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .vehicles__rocketsContainer {
    width: 85%;
  }
  .vehicles__description {
    margin: 1.3rem 0 2.4rem 0;
  }
  .vehicles__videoContainer iframe {
    width: 85%;
    height: 60%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .vehicles__header h1 {
    font-size: 3rem;
  }
  .vehicles__rocketsContainer {
    width: 100%;
  }
  .vehicle__card {
    padding: 40px 5px 40px 5px;
  }
  .vehicles__description {
    margin: 2rem 5px 3rem 5px;
  }

  .vehicles__videoContainer iframe {
    width: 96%;
    height: 45%;
  }
}
