.pastLaunches__header {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
}

/* ############################################
--- <<<     Past launch cards     >>> ---
---############################################ */

.pastLaunch__mainSection {
  width: 100%;
}

.pastLaunch__container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.pastLaunch__card {
  margin: 1rem;
  padding: 2rem;
  width: 320px;
  background-color: #ffffff;
  background: rgb(238,238,238);
  background: radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(219,219,227,0.4499808322177844) 100%);
}

.pastLaunch__missionBadge {
  max-width: 50%;
  display: flex;
  margin: auto;
}
.pastLaunch__missionName {
  padding-bottom: 20px;
  font-size: x-large;
  font-weight: 700;
  font-style: normal;
  padding-top: 30px;
}

.pastLaunch__failedMessage,
.pastLaunch__successMessage {
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}
.pastLaunch__failedMessage {
  border: 1px solid #F53B3B;
  color: #F53B3B;
}
.pastLaunch__successMessage {
  border: 1px solid #3BF56F;
  color: #3BF56F;
}

.details_description {
  padding-bottom: 25px;
}
