@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/* ############################################
--- <<<     Navbar     >>> ---
---############################################ */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #222831;
}

.nav__logo img {
 width: 150px;
}

.nav__links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.nav__links li {
  list-style: none;
}

.nav__links a {
  margin: 10px 10px;
  color: #f6f6f6;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 14px;
}

.nav__links a:hover {
  border-bottom: #f6f6f6 solid 2px;
  padding-bottom: 4px;
}

.nav__links--active a {
  font-weight: 500;
  border-bottom: #f6f6f6 solid 2px;
  padding-bottom: 4px;
}

.nav__burger {
  display: none;
  cursor: pointer;
}

.nav__burger div {
  width: 25px;
  height: 3px;
  background-color: #f6f6f6;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 990px) {
  body {
    overflow-x: hidden;
  }

  .nav__logo {
    width: 70%;
  }

  .nav__links {
    width: 35%;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav__links li {
    margin-top: 8vh;
    opacity: 0;
  }

  .nav__burger {
    display: block;
  }

  .nav__active {
    transform: translateX(0%);
  }

  @keyframes nav--linksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .nav--burgerToggle .nav__burgerLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav--burgerToggle .nav__burgerLine2 {
    opacity: 0;
  }
  .nav--burgerToggle .nav__burgerLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .nav__logo img {
    width: 120px;
   }
  .nav__links {
    width: 50%;  
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav__logo img {
    width: 120px;
   }
  .nav__links {
    width: 60%;  
  }
}

/* ############################################
--- <<<     Header & Countdown Timer     >>> ---
---############################################ */

.index__header {
  background-image: url("/assets/spacex-launch-large-1.jpg");
  /* Image by SpaceX on stocksnap.io URL "https://stocksnap.io/photo/space-rocket-QLXO02GEWL" */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 92vh;
}

.index__headerTextContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}
.index__headerTextContainer h1 {
  text-transform: uppercase;
  font-weight: 400;
}
.index__headerTextContainer p {
  margin-top: 2vh;
  padding: 0 10px 0 10px;
  text-align: center;
}

.index__nextLaunchContainer {
  margin-top: 10vh;
}

.index__nextLaunchContainer,
.next_launch_container,
.countdown__results {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f6f6f6;
}

.index__nextLaunchResults  h2 {
  font-size: 4em;
  font-weight: 400;
  padding: 10px;
}

/* --- Countdown Container --- */
#countdown-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.countdown__results {
  min-width: 800px;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f6f6f6;
}
.countdown__window {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.countdown__numbers {
  font-size: 5em;
}
.countdown__TimeUnit {
  font-size: small;
  font-weight: 300;
}

#countdown-container h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #f6f6f6;
}

@media (min-width: 481px) and (max-width: 767px) {
  .countdown__results {
    min-width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .index__nextLaunchResults {
    margin: 0px 10px 0 10px;
  }
 
  .countdown__results {
    min-width: 400px;
    padding: 1rem 1rem;
  }
  .countdown__window {
    width: 60px;
  }
  .countdown__numbers {
    font-size: 3em;
  }
}

/* ############################################
--- <<<     Upcoming launches     >>> ---
---############################################ */

.index__upcomingLaunchSection {
  width: 100%;
  min-height: 120vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__upcomingLaunchSection h2 {
  margin-top: 70px;
  padding: 20px 0 50px 0;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.index__upcomingLaunchContainer {
  margin-bottom: 150px;
}

.upcomingLaunch__table {
  padding: 20px 0 20px 2px;
  background-color: #393e46;
  color: #f6f6f6;
  border-bottom: 1px solid #393e46;
}
.index__upcomingLaunchTable {
  border-collapse: collapse;
  color: #55595c;
}

.upcomingLaunch__data td {
  font-weight: 300;
  letter-spacing: 0.5px;
}

.upcomingLaunch__dataTable {
  padding: 30px 0 30px 10px;
}

.upcomingLaunch__flightNumber {
  width: 100px;
}
.upcomingLaunch__mission {
  width: 200px;
  padding-right: 15px;
}
.upcomingLaunch__site {
  width: 500px;
  padding-right: 15px;
}
.upcomingLaunch__date {
  width: 200px;
}

tr.tablerow__borderBottom td {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 990px) {
  .upcomingLaunch__table {
    padding-right: 20px 0 20px 0px !important;
  }
}

/* ############################################
--- <<<     Form section     >>> ---
---############################################ */
.index__formSection {
  width: 100%;
  min-height: 100vh;
  background-color: tomato;
}

@media screen and (max-width: 990px) {
 
}

@media (min-width: 481px) and (max-width: 767px) {
  
}

@media (min-width: 320px) and (max-width: 480px) {

}
/* ############################################
--- <<<     Loading and Errorhandling     >>> ---
---############################################ */
.error-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.errorMessageContainer {
  padding: 3rem;
  font-size: 22px;
  color: #F53B3B;
  background: #f6f6f6;
  margin: 0 auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-indicator {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 3em;
}
.loading-indicator div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f6f6f6;
  animation: loading-indicator 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-indicator div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-indicator div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-indicator div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-indicator {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}